.desempleo {
  border: 1px solid #000000;
  padding: 1px;
  width: 1em;
  word-break: break-all;
  white-space: nowrap;
}
.desempleo th {
  border: 1px solid #000000;
}
.desempleo td {
  border: 1px solid #000000;
}

#bold {
  font-weight: bold;
}
