table,
tr,
td,
th {
  border-style: double;
  text-align: center;
  font-weight: bold;
}

table {
  width: 100%;
}

.roja {
  color: red;
}

#celda1 {
  background-color: greenyellow;
}

#celda2 {
  text-align: left;
  background-color: aqua;
}

#celda6 {
  background-color: pink;
  text-align: right;
  vertical-align: bottom;
}
