tr,
td,
th {
  border: 2px aqua;
  border-spacing: 0;
  border-style: inset;
}

table {
  border-style: outset;
  border-spacing: 0;
  border-width: 3px;
  border-top-color: white;
  border-left-color: white;
}

th {
  background-color: green;
  color: aquamarine;
}
tr:nth-child(even) {
  background-color: aquamarine;
}

tr:nth-child(odd) {
  background-color: lightsteelblue;
}

.centrar {
  text-align: center;
}

#a {
  width: fit-content;
  border: 1px solid aqua;
  border-right: none;
}

#b {
  width: fit-content;
  border: 1px solid aqua;
  border-right: 2px solid aqua;
  border-bottom: none;
}
