table,
tr,
td,
th {
  border: 1px solid aqua;
  border-style: outset;
}

th {
  background-color: green;
  color: aquamarine;
}

.uno {
  background-color: aquamarine;
}
.dos {
  background-color: lightsteelblue;
}
