tr,
td,
th {
  border: 1px aqua;
  border-collapse: collapse;
  border-style: inset;
}

table {
  /* border: 1px solid aqua; */
  border-style: outset;
  border-collapse: collapse;
}

th {
  background-color: green;
  color: aquamarine;
}

.uno {
  background-color: aquamarine;
}
.dos {
  background-color: lightsteelblue;
}

.centrar {
  text-align: center;
}
